 * {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   scrollbar-width: none;
   -webkit-scrollbar: none;
   -ms-overflow-style: none
 }

 body {
   background-color: var(--primary-colors);
   color: black;
   font-family: bebas-neue-pro, sans-serif;
   font-weight: normal;
   background-color: bisque;
 }

 h2 {
   font-size: 3em;
 }

 h3 {
   font-size: 2em;

 }


 /*NAV*/
 .navtext {
   margin-right: 2.7em;
 }

 nav {
   font-size: 2em;
   font-weight: bold;
   display: flex;
   align-items: center;
   justify-content: space-around;
   margin-top: 2%;

 }

 /*nav animations*/

 nav a:hover {
   animation: scale .8s ease;
   cursor: pointer;
   animation-fill-mode: forwards;
 }

 nav .logo:hover {
   animation: scale .8s ease;
   cursor: pointer;
   animation-fill-mode: forwards;
 }



 /*MAIN PAGE*/

 /*wrapper*/
 .landing {
   min-height: 500px;
   display: flex;
   height: auto;
   width: auto;
   justify-content: center;
   margin: auto;
   align-items: center;
 }

 .landing h2 {
   align-items: flex-end;
   display: flex;
 }

 /*defines the three grids in the wrapper*/
 .maingrid {
   justify-content: center;
   display: grid;
   height: 650px;
   width: 1500px;
   grid-template-columns: 2fr 1fr;
   grid-template-rows: 1fr 5fr;
   grid-gap: 5%;
   margin-top: 5%;
 }

 .itemgrid {
   overflow-x: hidden;
   scroll-behavior: auto;
   border-radius: 2%;
 }



 /*PICTURES FOR GRIDS*/
 .itemgrid a {
   display: block;
   height: 100px;
   width: 100%;
   color: blanchedalmond;
   text-decoration: none;
   padding-left: 5%;
   padding-top: 5%;
   padding-right: 50%;
 }

 .image1 {
   background: url('./Celebs/badbunny.png') no-repeat center center/cover;

 }

 .image2 {
   background: url('./Celebs/kalis.png') no-repeat center center/cover;

 }

 .image3 {
   background: url('./Celebs/badbunny.png') no-repeat center center/cover;

 }

 .image4 {
   background: url('./Celebs/maluma.png') no-repeat center center/cover;

 }

 .image5 {
   background: url('./Celebs/myke.png') no-repeat center center/cover;

 }

 .image6 {
   background: url('./Celebs/karol.png') no-repeat center center/cover;

 }

 .image7 {
   background: url('./Celebs/selena.png') no-repeat center center/cover;

 }

 .image8 {
   background: url('./Celebs/nelson.png') no-repeat center center/cover;

 }

 .image9 {
   background: url('/Celebs/daddyyankee.png') no-repeat center center/cover;

 }

 .image10 {
   background: url('/Celebs/daddyyankee.png') no-repeat center center/cover;

 }

 /*PICTURES END HERE*/
 .itemgrid p {
   display: flex;
   margin-top: 20%;
   background-color: black;
   overflow-x: auto;
 }

 header h2 {
   font-size: 2em;
   display: flex;
   z-index: 0;

 }



 /*video related*/

 .videotitle {
   font-size: 3em;
   justify-content: center;
 }

 .youtubevid {
   border-radius: 2%;
 }



 /*animations for grids on landing page*/
 .maingrid a:hover {
   animation: scale .8s ease;
   cursor: pointer;
   animation-fill-mode: forwards;

 }



 @keyframes scale {
   0% {
     transform: scale(1);
   }

   0% {
     transform: scale(1.1);
   }

   100% {
     transform: scale(.9);
     opacity: 50%;
   }


 }

 /* second page of website */
 .articles {
   padding-top: 2.5%;
   text-align: center;
 }

 .pgtitle {
   display: inline-flex;
   padding: 5%;
   font-size: 4rem;
   justify-content: center;
   text-decoration-line: underline;
   text-decoration-style: double;
   text-decoration-color: white;
 }

 .pgtitle:hover {
   opacity: 50%;
   cursor: pointer;
 }

 .musicagrid {
   display: grid;
   grid-template-columns: 1fr 1fr;
   height: auto;
   width: auto;
   object-fit: contain;
   margin: 5%;

 }

 .musicagriditem {
   height: auto;
   display: grid;
   justify-content: center;
   text-align: left;
   align-items: center;

 }

 /*left side of the page*/

 .spotlightimg {
   display: flex;
   width: auto;
   height: 500px;
   margin: 0 auto;
   justify-content: center;
 }

 .spotlighttext {
   display: grid;
   margin: 0 0;
   margin-bottom: 50px;
   padding: 2%;

 }

 .spotparagraph {
   font-size: 2em;
 }



 .spotlightimg:hover {
   animation: smallscale 1s ease forwards;
   cursor: pointer;
 }


 @keyframes smallscale {
   100% {
     opacity: 50%;
     transform: scale(.9);
   }

   0% {
     opacity: 100%;
     transform: scale(1);
   }

 }


 /*right side of the page*/
 .musicagriditem2 {
   display: grid;
   grid-template-rows: 1fr 5fr;
   justify-content: center;
   align-items: center;
   overflow: hidden;

   text-align: center;
   background-color: white;

 }

 .albumgrid {
   display: grid;
   width: auto;
   height: 530px;
   grid-template-columns: 1fr 1fr;
   justify-content: center;
   overflow-y: scroll;
 }

 .albums {
   display: flex;
   height: 250px;
   width: auto;
   margin: 0;
   padding: 0;



 }

 .albums:hover {
   animation: smallscale .5s ease forwards;
   cursor: pointer;
 }

 .mejor {
   font-size: 50px;
   margin-top: 20%;

 }

 /*third page content*/


 .badbunny,
 .generolatino {
   display: grid;
   grid-template-columns: 1fr 1fr;
   margin: 5%;
 }

 /*left side of grid*/
 .bunnypic,
 .generoleftgrid {
   height: 1000px;
   width: auto;
   text-align: left;
 }

 /*right side of grid*/
 .bunnyrightgrid,
 .generorightgrid {
   display: grid;
   justify-content: flex-start;
   text-align: left;
   justify-content: center;

 }


 .bunnytext,
 .generotext {
   padding: 5%;
   font-size: 2rem;
   text-align: left;

 }

 .elanoconejo,
 .genero {
   font-size: 3rem;
 }

 .elanoconejo:hover {
   opacity: 50%;
   cursor: pointer;
 }

 .genero:hover {
   opacity: 50%;
   cursor: pointer;
 }

 .articleby:hover {
   opacity: 50%;
   cursor: pointer;

 }

 .drum {
   height: 1000px;
   width: auto;
 }

 /*RESPONSIVE FOR DIFFERENT SCREENS*/
 @media only screen and (max-width: 1000px) {

   .maingrid,
   nav {
     display: flex;
     flex-flow: column wrap;
     height: auto;
     width: auto;
   }

   .musicagrid,
   .musicagriditem {
     display: flex;
     width: auto;
     height: auto;
     flex-flow: column;

   }

   .spotlightimg {
     max-width: 400px;
     width: auto;
     max-height: 1000px;
     height: auto;
   }

   .albumgrid {
     display: grid;
     width: auto;
     overflow: scroll;
   }

   .videogrid {
     display: grid;
     height: 500px;
     padding: 5% 0;
   }

   .title,
   .videotitle {
     visibility: collapse;
   }

   .badbunny,
   .generolatino {
     display: grid;
     grid-template-columns: 1fr;
     flex-flow: column wrap;


   }

   .itemgrid {
     display: grid;
     grid-template-rows: 1fr 1fr;
   }
 }