 * {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   scrollbar-width: none;
   -webkit-scrollbar: none;
   -ms-overflow-style: none
 }

 html {
   scroll-behavior: smooth;
 }

 body {
   color: #f5deb3;
   font-family: bebas-neue-pro, sans-serif;
   font-weight: normal;
   background-color: black;
   animation: fadeIn .5s ease;
   animation-iteration-count: 1;
   animation-fill-mode: forwards;
   transform: translateZ(0);

 }




 @keyframes fadeIn {
   0% {
     position: relative;
     opacity: 0;
     top: 50px;
     filter: blur(1px);
     transform: translateZ(0);

   }

   100% {
     position: relative;
     opacity: 1;
     top: 0;
     filter: blur(0px);
     transform: translateZ(0);
   }
 }

 h2 {
   font-size: 3em;


 }

 h3 {
   font-size: 2em;


 }

 a {
   color: inherit;
 }

 .readmore {
   font-weight: bold;
 }

 .readmore:hover {
   opacity: 50%;
   cursor: pointer;
 }

 /*NAV*/


 .navtext {
   text-decoration: none;

 }

 nav {
   display: flex;
   font-size: 2em;
   font-weight: bold;
   padding-top: 2.5%;
   justify-content: space-evenly;
   align-items: center;
   z-index: 10000;
   background-color: inherit;

 }

 /*this makes the nav sticky with js when scrolled*/
 .sticky {
   position: sticky;
   top: 0;

 }

 /*nav animations*/

 nav a:hover {
   animation: scale .5s ease;
   cursor: pointer;
   animation-fill-mode: forwards;
 }

 nav .logo:hover {
   animation: scale .5s ease;
   cursor: pointer;
   animation-fill-mode: forwards;
 }

 /*wrapper for all pages*/

 .musicagrid,
 .cardscontainer {
   display: grid;
   grid-template-columns: 1fr 1fr;
   height: auto;
   width: auto;
   object-fit: contain;
   margin: 5%;
 }

 .landing {
   display: grid;
   justify-content: center;
   margin: 5%;

 }

 /*MAIN PAGE*/



 .landing h2 {
   display: flex;
   justify-content: center;
 }

 /*defines the grids in the wrapper*/
 .maingrid {
   display: grid;
   height: 600px;
   width: 1665px;
   grid-template-columns: 1.5fr 1fr;
   grid-gap: 2%;
 }

 .itemgrid {
   overflow-x: hidden;
   scroll-behavior: auto;
   border-radius: 2%;
 }



 /*PICTURES FOR GRIDS*/
 .itemgrid a {
   display: block;
   height: 100px;
   width: auto;
   color: blanchedalmond;
   text-decoration: none;
   padding-left: 5%;
   padding-top: 1%;
   padding-right: 50%;
 }

 .image1 {
   background: url('Celebs/badbunny.jpg') no-repeat center center/cover;

 }

 .image2 {
   background: url('Celebs/kalis.jpg') no-repeat center center/cover;

 }

 .image3 {
   background: url('Celebs/badbunny.jpg') no-repeat center center/cover;

 }

 .image4 {
   background: url('Celebs/maluma.jpg') no-repeat center center/cover;

 }

 .image5 {
   background: url('Celebs/myke.jpg') no-repeat center center/cover;

 }

 .image6 {
   background: url('Celebs/karol.jpg') no-repeat center center/cover;

 }

 .image7 {
   background: url('Celebs/selena.jpg') no-repeat center center/cover;

 }

 .image8 {
   background: url('Celebs/nelson.jpg') no-repeat center center/cover;

 }

 .image9 {
   background: url('Celebs/daddyyankee.jpg') no-repeat center center/cover;

 }

 .image10 {
   background: url('Celebs/daddyyankee.jpg') no-repeat center center/cover;

 }

 /*PICTURES END HERE*/
 .itemgrid p {
   display: flex;
   margin-top: 20%;
   background-color: black;
   overflow-x: auto;
 }

 header h2 {
   font-size: 2em;
   display: flex;
   z-index: 0;

 }



 /*video related*/

 .videotitle {
   font-size: 3em;
   justify-content: center;
 }

 .youtubevid {
   border-radius: 2%;
 }



 /*animations for grids on landing page*/
 .maingrid a:hover {
   animation: scale .5s ease;
   cursor: pointer;
   animation-fill-mode: forwards;

 }



 @keyframes scale {

   0% {
     transform: scale(1);
   }

   100% {
     transform: scale(.9);
     opacity: 50%;
   }


 }

 /* second page of website */
 .container {
   padding-top: 2.5%;
   text-align: center;
 }

 .pgtitle {
   display: inline-flex;
   font-size: 4rem;
   text-decoration-line: underline;
   text-decoration-style: double;

 }



 .musicagriditem {
   height: auto;
   display: grid;
   justify-content: center;
   text-align: left;
   align-items: center;

 }

 /*left side of the page*/

 .spotlightimg {
   display: flex;
   width: 800px;
   height: 500px;
   margin: 0 auto;
   justify-content: center;
 }

 .spotlighttext {
   display: grid;
   margin: 0 0;
   margin-bottom: 50px;
   padding: 2%;

 }

 .spotparagraph {
   font-size: 2em;
 }



 .spotlightimg:hover {
   animation: smallscale 1s ease forwards;
   cursor: pointer;
 }


 @keyframes smallscale {
   100% {
     opacity: 50%;
     transform: scale(.9);
   }

   0% {
     transform: scale(1);
   }

 }


 /*right side of the page*/
 .musicagriditem2 {
   display: grid;
   justify-content: center;
   overflow: hidden;
   text-align: center;

 }

 .albumgrid {
   display: grid;
   width: auto;
   height: 530px;
   grid-template-columns: 1fr 1fr;
   justify-content: center;
   overflow-y: scroll;
 }

 .albums {
   display: flex;
   height: 250px;
   width: auto;
   margin: 0;
   padding: 0;



 }

 .albums:hover {
   animation: smallscale .5s ease forwards;
   cursor: pointer;
 }

 .mejor {
   font-size: 50px;

 }


 /*third page of content*/





 .cardsgridright,
 .cardsgridleft {
   display: grid;
   grid-template-rows: 1fr 1fr;
   justify-content: center;
 }

 .cardpicleft {
   height: 500px;
   width: auto;
 }

 .cardpics {
   height: 551px;
   width: auto;
 }

 /*fourth page of content que dice la calle*/

 .quedicepage {
   height: 1000px;
 }

 /*editoriales.html styling*/

 .pages {
   margin: 5%;
   text-align: center;
 }

 .badbunny,
 .generolatino {
   display: grid;
   grid-template-columns: 1fr 1fr;
   margin: 5%;
 }

 /*left side of grid*/
 .editpics,
 .generoleftgrid {
   height: 1000px;
   width: auto;
   text-align: left;
 }

 /*right side of grid*/
 .bunnyrightgrid,
 .generorightgrid {
   display: grid;
   justify-content: flex-start;
   text-align: left;
   justify-content: center;
   margin: 5%;

 }


 .bunnytext,
 .generotext {
   padding: 5%;
   font-size: 2rem;
   text-align: left;

 }

 .elanoconejo,
 .genero {
   font-size: 3rem;
 }

 .elanoconejo:hover {
   opacity: 50%;
   cursor: pointer;
 }

 .genero:hover {
   opacity: 50%;
   cursor: pointer;
 }

 .articleby:hover {
   opacity: 50%;
   cursor: pointer;

 }


 /*RESPONSIVE FOR DIFFERENT SCREENS*/
 @media only screen and (max-width: 1000px) {

   .maingrid,
   nav,
   .musicagrid,
   .musicagriditem {
     display: flex;
     flex-flow: column;
     height: auto;
     width: 100%;
   }


   .spotlightimg,
   .editpics {
     max-width: 400px;
     width: auto;
     max-height: 1000px;
     height: 50%;
   }

   .albumgrid {
     display: grid;
     width: auto;
     overflow: scroll;
   }

   .videogrid {
     display: grid;
     height: 500px;
     padding: 5% 0;
   }

   .cardscontainer {
     display: grid;
     grid-template-columns: subgrid;
   }

   .title,
   .videotitle,
   .editpics,
   .bunnyleftgrid {
     visibility: collapse;
   }

   .badbunny,
   .generolatino {
     display: grid;
     grid-template-columns: 1fr;
     flex-flow: column wrap;
     justify-content: center;


   }



   .itemgrid {
     display: grid;
     grid-template-rows: 1fr 1fr;
   }
 }

 @media only screen and (max-width: 1300px) {
   .musicagrid {
     display: flex;
     flex-flow: column;
     height: auto;
     width: 100%;
   }

 }