 * {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   scrollbar-width: none;
   -webkit-scrollbar: none;
   -ms-overflow-style: none
 }

 body::-webkit-scrollbar {
   display: none;
 }

 html {
   scroll-behavior: smooth;
 }

 body {
   color: #ffdc9b;
   font-family: bebas-neue-pro, sans-serif;
   font-weight: normal;
   background-color: black;

 }

 h2 {
   font-size: 3em;
 }


 a {
   color: inherit;
 }

 .readmore {
   font-weight: bold;
 }

 /*NAV*/
 .navtext {
   text-decoration: none;

 }

 nav {
   display: flex;
   font-size: 2em;
   font-weight: bold;
   padding-top: 1%;
   justify-content: space-evenly;
   align-items: center;
   background-color: inherit;
   transition: transform .5s linear;
   z-index: 1;

 }

 /*this makes the nav sticky with js when scrolled*/
 .sticky-nav {
   position: sticky;
   top: 0;
 }

 /*hover scale animations*/
 nav a:hover,
 nav .logo:hover,
 .maingrid a:hover,
 .spotlightimg:hover,
 .albums:hover {
   animation: scale .5s ease;
   cursor: pointer;
   animation-fill-mode: forwards;
 }

 @keyframes scale {
   from {
     transform: scale(1);
   }

   to {
     transform: scale(.9);
     opacity: 50%
   }
 }

 nav a,
 nav .logo,
 .maingrid a,
 .spotlightimg,
 .albums{
   animation: reverse-scale .2s ease-out;
 }
 @keyframes reverse-scale {
   from {
     transform: scale(.95);
   }

   to {
     transform: scale(1);
   }
 }



 /*wrapper for all pages*/
 .musicagrid,
 .cardscontainer {
   display: grid;
   grid-template-columns: 1fr 1fr;
   height: auto;
   width: auto;
   object-fit: contain;
   margin: 5%;
 }

 .landing {
   display: grid;
   justify-content: center;
   margin: 5%;

 }

 /*MAIN PAGE*/
 .landing h2 {
   display: flex;
   justify-content: center;
 }

 /*defines the grids in the wrapper*/
 .maingrid {
   display: grid;
   height: 600px;
   width: 1665px;
   grid-template-columns: 1.5fr 1fr;
   grid-gap: 2%;
 }

 .itemgrid {
   overflow-x: hidden;
   scroll-behavior: auto;
   border-radius: 2%;
 }

 /*PICTURES FOR GRIDS*/
 .itemgrid a {
   display: block;
   height: 100px;
   width: auto;
   color: blanchedalmond;
   text-decoration: none;
   padding-left: 5%;
   padding-top: 1%;
   padding-right: 50%;
 }

 .image1 {
   background: url('Celebs/badbunny.jpg') no-repeat center center/cover;

 }

 .image2 {
   background: url('Celebs/kalis.jpg') no-repeat center center/cover;

 }

 .image3 {
   background: url('Celebs/badbunny.jpg') no-repeat center center/cover;

 }

 .image4 {
   background: url('Celebs/maluma.jpg') no-repeat center center/cover;

 }

 .image5 {
   background: url('Celebs/myke.jpg') no-repeat center center/cover;

 }

 .image6 {
   background: url('Celebs/karol.jpg') no-repeat center center/cover;

 }

 .image7 {
   background: url('Celebs/selena.jpg') no-repeat center center/cover;

 }

 .image8 {
   background: url('Celebs/nelson.jpg') no-repeat center center/cover;

 }

 .image9 {
   background: url('Celebs/daddyyankee.jpg') no-repeat center center/cover;

 }

 .image10 {
   background: url('Celebs/daddyyankee.jpg') no-repeat center center/cover;

 }

 /*PICTURES END HERE*/
 .itemgrid p {
   display: flex;
   margin-top: 20%;
   background-color: black;
   overflow-x: auto;
 }


 /*video related*/

 .youtubevid {
   border-radius: 2%;
 }



 /* second page of website */
 .container {
   padding-top: 2.5%;
   text-align: center;
 }

 .pgtitle {
   display: inline-flex;
   font-size: 4rem;
   text-decoration-line: underline;
   text-decoration-style: double;

 }

 .musicagriditem,
 .musicagriditem2 {
   height: auto;
   display: grid;
   justify-content: center;
   text-align: left;

 }

 /*left side of the page*/

 .spotlightimg {
   display: flex;
   width: 824px;
   height: 462px;
   margin: 0 auto;
   justify-content: center;
 }

 .spotlighttext {
   display: grid;
   margin: 0 0;
   margin-bottom: 50px;
   padding: 2%;

 }

 .spotparagraph {
   font-size: 2em;
 }

 /*right side of the page*/

 .albumgrid {
   display: flex;
   width: 824px;
   height: 462px;
   margin: 0 auto;
   justify-content: center;
 }

 .albums {
   display: flex;
   height: 250px;
   width: auto;
   margin: 0;
   padding: 0;

 }

 .mejor {
   font-size: 50px;

 }


 /*third page of content*/

 .cardsgridright,
 .cardsgridleft {
   display: block;
 }

 .cardpicleft,
 .cardpicright {
   height: 500px;
   width: auto;
 }



 /*fourth page of content que dice la calle*/

 .quedicepage {
   height: 1000px;
 }

 /*editoriales.html styling*/

 .pages {
   margin: 5%;
   text-align: center;
 }

 .badbunny,
 .generolatino {
   display: grid;
   grid-template-columns: 1fr 1fr;
   margin: 5%;
 }

 /*left side of grid*/
 .editpics,
 .generoleftgrid {
   height: 500px;
   width: auto;
   text-align: left;
 }

 /*right side of grid*/
 .bunnyrightgrid,
 .generorightgrid {
   display: grid;
   justify-content: flex-start;
   text-align: left;
   justify-content: center;

 }

 .righteditpic {
   height: auto;
   width: 500px;
 }

 .bunnytext,
 .generotext {
   padding: 5%;
   font-size: 2rem;
   text-align: left;

 }

 .articletitle,
 .genero {
   font-size: 3rem;
 }

 .articletitle:hover,
 .genero:hover,
 .articleby:hover,
 .readmore:hover {
   opacity: 50%;
   cursor: pointer;
 }

 /*RESPONSIVE FOR MOBILE SCREENS*/
 @media only screen and (max-width: 1000px) {

   /* disables side scrolling */
   html,
   body {
     overflow-x: hidden;
   }

   body {
     position: relative
   }

   /*makes containers into columns*/
   .maingrid,
   nav,
   .musicagrid,
   .musicagriditem,
   .cardscontainer {
     display: flex;
     flex-flow: column;
     height: auto;
     width: auto;
   }


   /*picture sizes*/
   .spotlightimg {
     max-width: 300px;
     height: auto;
   }

   .cardpicleft,
   .cardpicright {
     height: 200px;
   }




   .videogrid {
     display: grid;
     height: 500px;
     padding: 5% 0;
   }

   .title,
   .videotitle,
   .bunnyleftgrid,
   .editpics {
     display: none;
     visibility: collapse;

   }

   /*EDITORIALES PAGE MOBILE*/
   .badbunny,
   .generolatino {
     display: grid;
     grid-template-columns: 1fr;
     flex-flow: column wrap;
     justify-content: center;
   }

   .itemgrid {
     display: grid;
     grid-template-rows: 1fr 1fr;
   }
 }

 /* RESPONSIVE FOR LAPTOPS/SMALLER THAN 1700PX*/
 @media only screen and (max-width: 1700px) and (min-width: 1000px) {

   .musicagrid,
   .cardscontainer {
     display: flex;
     flex-flow: column;
     height: auto;
     width: auto;
   }


   .maingrid {
     display: grid;
     height: 600px;
     grid-template-columns: 2.5fr 1fr;
     width: auto;
     grid-gap: 2%;
   }
 }